:root {
    --color-dominant:white;
    --color-contrast:grey;
    --color-complement:orange;
    --family: sans-ferif;
    --color-accent: red;
    --card-padding: 1rem;

}

html{
    font-family: serif;
    line-height: 1;
}

h1,h2,h3{
    line-height: .9;
}
img{
  max-width: 50%;  
}
body{
    margin: 0;
}

main{
    padding: var(--card-padding);
}
.card{
    padding: var(--card-padding);
    margin-bottom: var(--card-padding);
}

#socialemedia{
    text-align: center;
    padding: 0.5rem;
}

#socialeMedia{
    margin: var(--card-padding);
}
#socialeMediaLijst{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#socialeMediaLijst>li{
    display: inline;
}