:root {
    --color-dominant:white;
    --color-contrast:grey;
    --color-complement:orange;
    --family: sans-ferif;
    --color-accent: red;
    --card-padding: 1rem;

}

html{
    font-family: serif;
    line-height: 1;
}

h1,h2,h3{
    line-height: .9;
}
img{
  max-width: 50%;  
}
body{
    margin: 0;
}

main{
    padding: var(--card-padding);
}
.card{
    padding: var(--card-padding);
    margin-bottom: var(--card-padding);
}

#socialemedia{
    text-align: center;
    padding: 0.5rem;
}

#socialeMedia{
    margin: var(--card-padding);
}
#socialeMediaLijst{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#socialeMediaLijst>li{
    display: inline;
}

#gridContainer{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 150px 200px auto ;

    grid-template-areas:"menu banner"
                        "menu main"
                        ".    main";
}

#menu{
    grid-area:menu;
}

#banner{
    grid-area:banner;
}
#main{
    grid-area:main;
}
@media only screen and (min-width:600px){
    #mainGridcontainer{
     display:grid;

     grid-template-columns:1fr 2fr ;
     grid-template-rows: auto auto auto;

     grid-template-areas: "personal work"
                           "personal education"
                           ".        education";
     grid-gap: 1rem;
     padding: 1rem;
    }
    .card{
        margin-bottom: 0rem;
    }


    #persoonlijk{
        grid-area: personal;
    }

    #werkervaring{
        grid-area: work;
    }

    #studies{
        grid-area: education;
    }
}
