header{
    background-color: red;
}

a{
    background-color: black;
    color: blanchedalmond;
    text-decoration: none
}
body{
    margin: 0rem;
}
    ul{
        margin: 0;
        padding: 0;
    }
    h2{
        padding: 0;
    }
    
    section#healtrisk{
        margin: 1rem; 
        border: 0.25rem solid black;
        padding: 0.4rem;
    }
    main>section{
        border-style: solid;
        border-color: black;
        border-width: 0rem;
    }